
@{
    ViewData["Title"] = "Index";
}

<h1>Información del alumno</h1>
<hr/>

<input type="button" class="btn btn-primary" 
       onclick="abrirDialog('/Alumnos/Index')"
       value="Buscar"/>

<input id="idAlumno" value="1" type="hidden"/>
<div class="row">
    <div class="col-12" id="PanelAlumnos">

    </div>
</div>
<div class="row">
    <div class="col-6" id="PanelNotas">

    </div>
    <div class="col-6" id="PanelTrabajos">

    </div>
</div>


@section Scripts{
    <script>
        function refrescar(url, destino) {
            $.ajax({
                url: url,
                data: {
                    idAlumno: $('#idAlumno').val()
                },
                success: function (res) {
                    $('#' + destino).html(res);
                }
            })
        }
        function abrirDialog(url) {
            $.ajax({
                url: url,
                data: {
                    idAlumno: $('#idAlumno').val()
                },
                success: function (res) {
                    bootbox.dialog({
                        message: res,
                        size: 'large'
                    });
                }
            })
        }
        function EnviarFormulario(url) {
            $.ajax({
                url: url,
                method: 'post',
                data: $('#Formulario').serialize(),
                success: function (res) {
                    RefrescarTodo();
                    bootbox.hideAll();
                }
            })
        }
        function RefrescarTodo() {
            refrescar('/Alumnos/Details', 'PanelAlumnos');
            refrescar('/Notas/Index', 'PanelNotas');
            refrescar('/Trabajos/Index', 'PanelTrabajos');
        }

        function SeleccionaRegistro(id) {
            $('#idAlumno').val(id);
            RefrescarTodo();
            bootbox.hideAll();
        }

        $(document).ready(function () {
            RefrescarTodo();
        });

        

        function ejecutar() {
            bootbox.dialog({
                message: "Hola <b>que tal</b>" +
                    "<i>muy bien</i>" +
                    "<input type='button' onclick='cerrar()' value='Prueba' /> ",
                size: "large"
            });
        }
        function cerrar() {
            bootbox.hideAll();
        }
    </script>

}

