
@{
    ViewData["Title"] = "Index";
}

<h1>Información del alumno</h1>
<hr/>

<input id="idAlumno" value="1"/>
<div class="row">
    <div class="col-12" id="PanelAlumnos">

    </div>
</div>
<div class="row">
    <div class="col-6" id="PanelNotas">

    </div>
    <div class="col-6" id="PanelTrabajos">

    </div>
</div>


@section Scripts{
    <script>
        function refrescar(url, destino) {
            $.ajax({
                url: url,
                data: {
                    idAlumno: $('#idAlumno').val()
                },
                success: function (res) {
                    $('#' + destino).html(res);
                }
            })
        }
        function abrirDialog(url) {
            $.ajax({
                url: url,
                data: {
                    idAlumno: $('#idAlumno').val()
                },
                success: function (res) {
                    bootbox.dialog({
                        message: res,
                        size: 'large'
                    });
                }
            })
        }

        $(document).ready(function () {
            refrescar('/Alumnos/Details', 'PanelAlumnos');
            refrescar('/Notas/Index', 'PanelNotas');
            refrescar('/Trabajos/Index', 'PanelTrabajos');
        });
        

        function ejecutar() {
            bootbox.dialog({
                message: "Hola <b>que tal</b>" +
                    "<i>muy bien</i>" +
                    "<input type='button' onclick='cerrar()' value='Prueba' /> ",
                size: "large"
            });
        }
        function cerrar() {
            bootbox.hideAll();
        }
    </script>

}

