@model IEnumerable<Demostracion.Models.Alumno>

<table class="table" id="tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a class="btn btn-primary text-white"
                   onclick="SeleccionaRegistro(@item.Id)">Seleccionar</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $('#tabla').DataTable();
</script>