@model IEnumerable<Demostracion.Models.Nota>

<h6>Notas</h6>
<p>
    <a class="btn btn-primary text-white" 
       onclick="abrirDialog('/Notas/Create')" >Nueva nota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                <a class="btn btn-primary text-white" 
                   onclick="abrirDialog('/Notas/Edit/@item.Id')">Edit</a> |
                <a class="btn btn-primary text-white" 
                   onclick="abrirDialog('/Notas/Delete/@item.Id')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
